nav {
  padding: 14px 10px;
  margin-bottom: 8px;
  background-color: #8AC007;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

.nav-title {
  float: left;
}

.joke-show {
  text-align: center;
  font-size: 14pt;
  padding: 20px;
}

.form-control {
  width: 250px;
  height: 75px;
  margin-bottom: 20px;
}

.main-container {
  margin: 0px 20px;
}

.edit-form {
  display: inline-block;
  float: left;
  width: 70%;
}

.delete-button {
  display: inline-block;
  float: right;
  width: 20%;
}

.edit-button {
  float: right
}

.homepage {
  text-align: center;
  margin: 30px;
}

.homepage a {
  font-size: 20pt;
}
