<header id="header" class="header">
  <nav>
    <ul>
      <li class="nav-title">{{link-to "DadJokes" "jokes"}}</li>
      <li>{{link-to "Submit a joke" "jokes.new"}}</li>
    </ul>
  </nav>
</header>

{{outlet}}
