<header id="header" class="header">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        {{link-to "DadJokes" "jokes"}}
      </div>
    </div>
  </nav>
</header>

{{outlet}}
