<h2>Browse Jokes</h2>

<div class="jokes-container">
  {{#each model as |joke|}}
    <div>
      <p>{{link-to (format-setup joke.setup) 'jokes.show' joke}}</p>
    </div>
  {{/each}}
</div>

<br>

{{link-to "Submit New Joke" "jokes.new"}}
