<div class="joke-show">
  {{model.setup}}<br><br>
  {{model.punchline}}<br><br>
  Rating: {{model.rating}}
</div>
<br>
<div class="edit-button">
  {{link-to "Edit this joke" 'jokes.edit' joke}}
</div>
